<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" type="image/png" href="../static/images/no_guns.png">

  <title>Us Mass Shootings Axes</title>

  <!-- jQuery -->
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mate SC">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> 
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/style.css') }}" />
</head>
<body>
  <h1>Mass Shootings Visualizations</h1>
  <!-- Navigation -->
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/map">Map</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/axes">Axes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/data">Data</a>
    </li>
  </ul>
  
  <div id="title">Number of Incidents by Shooter Race</div>

  <div class="nowrap">
    <span id="sortd">Sort Descending</span>
    <span id="sorta">Sort Ascending</span>
  </div>

  <div id="bar"></div>

</body>

<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="./../static/js/axes.js"></script>

</html>