<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" type="image/png" href="../static/images/no_guns.png">

  <title>Us Mass Shootings Visualizations</title>

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mate SC">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> 
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/style.css') }}" />
</head>
<body>
  <h1>Mass Shootings Visualizations</h1>
  <!-- Navigation -->
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/map">Map</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/axes">Axes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/data">Data</a>
    </li>
  </ul>
  <div class="theme">
  <p> 
    Mass shootings have a profound effect on victims and society as a whole impacting citizens’ mental health, 
    anxiety, and their perceptions of safety.  They are alarming because of the randomness of their nature
    and the motive is often unknown.  According to the Washington Post, 2020 was the deadliest gun violence year in decades.  
    So far, 2021 is worse.<br><br>

    The visualizations generated use data from a Mother Jones' Investigation and can be found on their website.  
    You can find the website and dataset <a href="https://docs.google.com/spreadsheets/d/1b9o6uDO18sLxBqPwl_Gh9bnhW-ev_dABH83M5Vb5L8o/edit#gid=0" 
    target="_blank">here.</a>
    Founded in 1976, Mother Jones is a reader-supported, nonprofit investigative news organization.  The data's earliest entry 
    is August 1982 and it was last updated on May 26, 2021.  There is a lack of consensus on how to define a mass shooting.  
    Mother Jones research focused on indiscriminate rampages in public places resulting in four or more victims killed by the attacker. 
    Excluded are shootings stemming from crimes such as armed robbery, gang violence or where perpetrators had not been identified. 
    Attacks where three or more victims were killed are included beginning in January 2013 due to a federal baseline mandate.  
    Perpetrators who died or were wounded during the attack are not included in the victim count.<hr>

    A quick snapshot of the data:
    <ul>
      <li>Of the 143 guns used in these attacks, more than 75% were obtained legally.</li>
      <li>More than 50% of the cases involved school or workplace shootings.</li>
      <li>Perpetrators are likely to be white males.</li>
      <li>The majority of perpetrators were mentally troubled.</li>
    </ul>
  </p>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-4">
        <div class="card">
          <img class="card-img-top mx-auto d-block" src="./../static/images/map.png" alt="map icon">
          <div class="card-body">
            <h5 class="card-title">Maps</h5>
            <p class="card-text">2 maps to select
            </p>
            <a href="/map" class="btn btn-outline-primary btn-sm">Let's Go!</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-4">
        <div class="card">
          <img class="card-img-top mx-auto d-block" src="./../static/images/bar.png" alt="bar icon">
          <div class="card-body">
            <h5 class="card-title">Bar</h5>
            <p class="card-text">Multiple axes
            </p>
            <a href="/axes" class="btn btn-outline-primary btn-sm">Let's Go!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <p>Sources cited: <a href="https://www.washingtonpost.com/nation/2021/06/14/2021-gun-violence/" target="_blank">Washington Post</a>
      and <a href="https://www.motherjones.com/politics/2012/07/mass-shootings-map/" target="_blank">Mother Jones Mass Shootings Guide</a></p>
  </footer>
</body>

<script src="https://d3js.org/d3.v5.min.js"></script>

</html>