<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" type="image/png" href="../static/images/no_guns.png">

  <title>US Mass Shootings Map</title>

  <!-- Leaflet -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>
<!-- tab map -->
<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mate SC">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> 
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/style.css') }}" />

   <!-- Marker Cluster CSS -->
   <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
   <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">

   <!-- Icons -->
  <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="static/css/leaflet.extra-markers.min.css">

</head>

<body>
  <h1>Mass Shootings Visualizations</h1>
  <!--Navigation Bar-->
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/map">Map</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/axes">Axes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/data">Data</a>
    </li>
  </ul>
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a class="atab" href="#a_tab" data-toggle="tab">Tab A</a></li>
      <li><a class="btab" href="#b_tab" data-toggle="tab">Tab B</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="a_tab">
        <acontent></acontent>
      </div>
      <div class="tab-pane" id="b_tab">
        <bcontent></bcontent>
      </div>
    </div>
  </div>

    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="http://d3js.org/d3.v3.js"></script>
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>

    <script></script>
  <!-- Div that holds map -->
  <div id="map-id"></div>
  
  <!-- D3 -->
  <script src="https://d3js.org/d3.v5.min.js"></script>

  <!-- Leaflet -->
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>

  <!--Marker Cluster JS-->
  <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>

  <!-- API Key -->
  <script type="text/javascript" src="static/js/config.js"></script>
  
  <!-- JS Map File -->
  <script type="text/javascript" src="static/js/map.js"></script>
  <script>
    // Disable caching of AJAX responses -Used when debugging
    $.ajaxSetup ({ cache: false });

    $.getScript("./../static/js/map.js");
    $(".atab").click(function(){ a(); })
  </script>
  <script>
    $(".btab").click(function(){ b(); })
  </script>

</body>

</html>
